/* All styles for your Card Components live here */


.image2 {
    margin: 1rem 0;
    width: 88.45%;
    height: 55%;
    border-radius: 10px;

}

a {
    text-decoration: none;
    color: rgb(211, 211, 211);
}

.card-content {
    width: 88.45%;
    margin: 0 0 1rem 0;
}